<!DOCTYPE html>
<html ng-app="main">
    <head>
        <meta charset="utf-8">
        <title> Web Developer Jobs </title>
        <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="styles/normalize.css">
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/results.css">
        <script src="scripts/frameworks/jquery-2.2.3.min.js"></script>
        <script src="scripts/frameworks/angular.min.js"></script>
        <script src="scripts/app/controllers/app.js"></script>
    </head>
    <body>
        <header>
            <div id="wrapper">
                <img src="media/code-icon.png">
                <h1> Looking to advance your career? </h1>
                <form ng-controller="SearchController">
                    <div class="text_element">
                        <input name="text" ng-model="querp.keywords" placeholder="jQuery, Junior, React, Angular" id="keyword" required/>
                        <label for="keyword"> Keywords separated by commas </label>
                    </div>
                    <div class="text_element">
                        <input name="text" ng-model="querp.location" placeholder="Los Angeles 50 miles; Seattle 10 miles" id="location" required/>
                        <label for="location"> zip code or city, state</label>
                    </div>
                    <button type="submit" ng-click="setQuery(); getAPI(); showdiv()">Release the hounds</button>
                </form>
            </div>
        </header>
        <section>
            <ng-results></ng-results>
        </section>
        <footer>
            <h4> Developed by <a href="">Dante Kelly</a> </h4>
            <h4> Proudly hosted on <img src="media/AmazonWebservices_Logo.svg.png"> with <a href="https://github.com/dantekelly/Server-Backend">Express</a></h4>
            <h4> Inspired by <a href="https://twitter.com/yakkieyip">Jackie Yip's</a> <a href="http://jackieyip.com/jsjobs/">JS Jobs project</a> </h4>
        </footer>
        <script src="scripts/geolocation.js"></script>
        <script src="scripts/main.js"></script>
    </body>
</html>