header {
  background: #464646 url(../media/header.jpg) no-repeat fixed center;
  background-size: cover;
  text-align: center;
  padding-bottom: 3em;
  color: white;
  font-family: 'Lato', sans-serif;
  height: auto;
  &.long {
    height: calc(100vh - ( 1em + 80px));
  }
  h1 {
    font-size: 2.75em;
    margin: 1em 0;
    text-shadow: 0 0 2px black;
  }
  img {
    height: 150px;
    margin-top: 100px;
  }
}

form {
  text-align: center;
  margin: 0 20%;
  button {
    margin: 20px auto 0;
    display: block;
    border-radius: 3em;
    font-size: 1.25em;
    padding: 0.5em 1em;
    border: 0px none;
    background-color: rgba(0, 85, 164, 0.3);
    color: white;
    &:hover {
      background-color: rgba(0, 85, 164, 0.5);
    }
  }
  .text_element {
    display: inline-block;
    text-align: center;
    input {
      display: block;
      border-radius: 50px;
      border: medium none;
      padding: 5px 15px;
      background-color: rgba(0, 85, 164,0.3);
      color: white;
      text-align: center;
    }
    &:nth-child(1) {
      margin-right: 2em;
    }
    label {
      font-size: 13px;
      font-weight: 400;
      color: #006fdd;
      text-shadow: 0 0 2px black;
    }
  }
}

footer {
  font-family: Lato, sans-serif;
  text-align: center;
  margin: 10px;
  h4 {
    font-weight: 300;
    display: inline-block;
    margin: 0 20px;
    img {
      width: 50px;
    }
  }
}