@media  screen and (max-width: 768px) {
  header.long {
    height: auto;
  }

  .text_element {
    margin: 2em 0;
    input {
      margin: 0 auto;
      font-size: 1.25em;
    }
    label {
      font-size: 1em;
    }
  }

  footer {
    h4 {
      margin: .5em 20px;
    }
  }
}

